<div class>
	<div class="row" id="dealt">
		<div class="col-md-5" id="left">
			<div class="panel panel-default">
				<div class="panel-body">
					Lives Left<br>
					<span class="glyphicon glyphicon-cog"></span>
					<span class="glyphicon glyphicon-cog"></span>
					<span class="glyphicon glyphicon-cog"></span>
				</div>
			</div>

			<div>
				<img src="/img/robots/hammerbot.png"/>
			</div><br>

			<div>
				<button type="button" class="btn btn-success" style="width: 100%; display: block; margin: 0 auto;">Ready</button>
			</div>

		</div>

		<div class="col-md-7" id="right">
			<div ng-repeat="row in cards track by $index">
				<span ng-repeat="card in row track by $index" ng-click="clickedCard(card)" carddata="{{card.priority}}" class="with-card" draggable><img src="/img/cards/{{card.name}}.png" height="100" width="70"></span>
			</div>
		</div>
	</div>
	<br>



	<div class="row" id="damage">
		<span class="glyphicon glyphicon-alert"></span>
		<span class="glyphicon glyphicon-alert"></span>
		<span class="glyphicon glyphicon-alert"></span>
		<span class="glyphicon glyphicon-alert"></span>
		<span class="glyphicon glyphicon-alert"></span>
		<span class="glyphicon glyphicon-alert"></span>
		<span class="glyphicon glyphicon-alert"></span>
		<span class="glyphicon glyphicon-alert"></span>
		<span class="glyphicon glyphicon-alert"></span>
		<span class="glyphicon glyphicon-alert"></span>
	</div>

	<div class="row" id="register">
		<span class="empty-card col-lg-2" droppable></span>
		<span class="empty-card col-lg-2" droppable></span>
		<span class="empty-card col-lg-2" droppable></span>
		<span class="empty-card col-lg-2" droppable></span>
		<span class="empty-card col-lg-2" droppable></span>
	</div>
</div>