#host {

#game-title {
  width: 1000px;
  text-align: center;
  font-size: 1.5em;
  text-shadow:  1px 1px #F2FF00;
}

.game-name {
  font-size: 2em;
  text-align: center;
}

#ready {
  margin-right: 100px
}

.game-board-thumb {
  width: 225px;
  height: 225px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
}

.board-name {
  font-size: 1.3em;
}

#active-players {
  font-size: 25px;
}


}