@import "fullstack-logo";
@import "navbar";

#gameContainer {
	// position: fixed;
	// background-color: white;
	margin-top: 30px;
}

canvas {
	position:absolute;
	// margin-left: 14px;
	right:0;
}

#right {
	padding: 0;
}

#damage {
	width: 100%;
	display: block;
	margin: 0 auto;
	font-size: 20px;
	margin-left:25px
}

.glyphicon {
  margin-right: 8px;
}

#register {
	margin-left: 10px;
}
