<div class="game-container" id="lobby">

	<div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="page-header" style="text-align: center">LET THE MAYHEM BEGIN</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2 class="right">Join A Game</h2>
      	<div class="row" ng-repeat="game in games" ng-show="game.game.state==='waiting'">
            <button class="btn-ready-sm pull-right">JOIN</button>
            <div class="pull-right">
              <h4>{{game.game.name}}</h4>
              <small>Current Players: </small>
              <small ng-repeat="player in game.game.players">{{player.name}}</small>
              <hr>
            </div>
      	</div><br>
      </div>

      <div class="col-md-6 center">
        <div class="wrapper" style="text-align: center">
          <button ui-sref="creategame" class="btn btn-success" style="width: 300px;">Create New Game</button>
        </div><br>
      </div>

    </div>

	</div>

</div>
