<div class="game-container" id="lobby">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-header center"><strong>CHOOSE YOUR BATTLE</strong></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-2 center">
        <h2 class="sub-heading">Join A Game</h2>

        <div class="row" ng-repeat="(key,game) in games" ng-show="game.game.state==='waiting'">
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">{{game.game.name}}</h4>
            </div>

            <div class="panel-body transparent">
              <div>
                <strong id="current-players">Current Players:</strong>
                <ul class="list-group current-players">
                  <li class="no-box-list" ng-repeat="player in game.game.players"><small>{{player.name}}</small></li>
                </ul>
              
                <button class="red-btn" ui-sref="waitingroom({id:'{{key}}'})">
                  <strong>JOIN GAME</strong>
                </button>
              </div>

            </div>

        </div>
      </div>
    </div>

    <div class="col-md-6 center">
      <h2 class="sub-heading">Start A New Game</h2>
      <div class="center">
        <button ui-sref="creategame" class="orange-btn"><strong>CREATE GAME</strong></button>
      </div>
    </div>
  </div>
</div>
