* {
  box-sizing: border-box;
}

body {
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
  padding-top: 60px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.game-container {
  background-image: url("http://www.transparenttextures.com/patterns/assault.png");
  width: 1100px;
  background-color: #CADBE0;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 4px;
}

.game-container-game {
  background-image: url("http://www.transparenttextures.com/patterns/assault.png");
  width: 1700px;
  background-color: #CADBE0;
  margin: auto;
  margin-top: 10px;
  padding: 0px;
  border-radius: 4px;
}

.game-container li{
  font-size: 1.2em;
  border-color: #211e1f;
  background-color: #d0d9d7;
  border-radius: 2px;
}

.row{
  padding-top: 10px;
  padding-bottom: 10px;
}

canvas {
  border: solid #211e1f 4px;
  right:0;
  margin: 10px;
}

img.game-board-thumb {
  margin: 10px;
  border: solid #211e1f 2px;
  height: 150px;
  width: 150px;
}

.lives-panel{
  padding: 10px;
  background: linear-gradient(45deg, #CDD6D4 12%, transparent 0, transparent 88%, #CDD6D4 0),
    linear-gradient(135deg, transparent 37%, #D0D9D7 0, #D0D9D7 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #CDD6D4 0, #CDD6D4 63%, transparent 0) #753;
  background-size: 5px 5px;
  background-color: #D0D9D7;
  border: solid #211e1f 2px;
  border-radius: 3px;
  margin: 5px;
  width: 100%;
  font-size: 20px;
}


.lives-panel h4{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  padding: 3px 3px 10px 3px;
  margin: auto;
  border-radius: 3px;

}

#main {
  margin: 0 auto;
  padding-bottom: 60px;
}

.no-box-list{
  background-color: transparent !important;
  font-size: 1em;
  list-style: none;
}

.game-name{
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  font-weight: bold;
  padding: 5px;

}

.half{
  width: 50%;
  margin: auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.game-name-sm{
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
  font-weight: bold;
}
.danger{
  color: #fce917;
}
.center{
  text-align: center;
}

#myrobo{
  height: 150px;
  width: 150px;
  margin-top: 5px;
  display: inline-block;
  margin: auto auto;
  border: black solid 2px;
  border-radius: 75px;
}

img.robo-avatar {
  margin: 10px;
  border: black solid 1px;
  border-radius: 75px;
  height: 150px;
  width: 150px;
}

.empty{
  background: linear-gradient(45deg, #CDD6D4 12%, transparent 0, transparent 88%, #CDD6D4 0),
    linear-gradient(135deg, transparent 37%, #D0D9D7 0, #D0D9D7 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #CDD6D4 0, #CDD6D4 63%, transparent 0) #753;
  background-size: 5px 5px;
  background-color: #D0D9D7
}
.page-header{
  font-family: 'Roboto Slab', serif;
  border-bottom: none;
}

.life{
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #317E2A;
  border: solid 2px #205C1F;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.dead{
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #787878;
  border: solid 2px #221A0B;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-ready{
  height: 80px;
  width: 80px !important;
  background-color: #ab0929;
  border: solid #211e1f 2px;
  border-radius: 40px;
  color: white;
  margin: auto;
  display: inline-block;
}

.btn-row{
  margin-top: 20px;
  padding: 10px;
}

.btn-ready-game{
  margin-top: 21px;
  height: 100px;
  width: 100px !important;
  background-color: #ab0929;
  border: solid #211e1f 2px;
  border-radius: 50px;
  color: white;
  vertical-align: center;
  display: inline-block;
  margin-left: 30px;
}

.btn-ready-sm{
  height: 50px;
  width: 50px !important;
  background-color: #ab0929;
  border: solid #211e1f 2px;
  border-radius: 25px;
  color: white;
  margin: 10px;
  vertical-align: center;
  display: inline-block;
  /*float: left;*/
}

.empty-card{
  height: 145px;
  width: 92px;
  border: solid 2px black;
  border-radius: 3px;
  display: inline-block;
  padding: 0;
  vertical-align: top
}

.empty-card > img{
  height: 145px;
  width: 92px;
}

header.caution{
  margin-bottom: 10px;
}

footer.caution{
  margin-top: 10px;
}

.caution{
  background-image: url("img/caution.png");
  border: solid #211e1f 1px;
}

#register{
  float: left;
}

.create-game{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #317E2A;
  border: solid 2px #205C1F;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.list-group-item-sm {
  border-color: #211e1f;
  background-color: #d0d9d7;
  border-radius: 3px !important;
  padding: 3px 5px;
}
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'lobby/main';