* {
  box-sizing: border-box;
}

body {
  background: #211e1f;
  padding-top: 70px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.game-container {
  width: 1100px;
  background-color: #97a4a8;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 4px;
}

.game-container li{
  font-size: 1.2em;
  border-color: #211e1f;
  background-color: #d0d9d7;
  border-radius: 0px !important;
}

canvas {
  border: solid #211e1f 4px;
  position:absolute;
  right:0;
}
.game-board-thumb img{
  border: solid #211e1f 2px;
  height: 240px;
  width: 240px;
}

#damage {
  width: 100%;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  margin-left:25px
}


#main {
  padding-top: 60px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.game-name{
  font-size: 2em;
  font-weight: bold;
}

.game-name-sm{
  font-size: 1.4em;
  font-weight: bold;
}
.danger{
  color: #fce917;
}
.center{
  text-align: center;
}

.game-name {
  padding: 5px;
}

#myrobo{
  margin-top: 5px;
}

.empty{
  background-color: #d0d9d7
}

.lives-panel{
  padding: 10px;
  background-color: #d0d9d7;
  border: solid #211e1f 2px;
  border-radius: 3px;
  margin: 5px;
  width: 100%;
}

.lives-panel h4{
  padding: 3px;
  margin: auto;
  border-radius: 3px;
}

.life{
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #317E2A;
  border: solid 2px #205C1F;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.dead{
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #787878;
  border: solid 2px #221A0B;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}


.btn-ready{
  height: 80px;
  width: 80px !important;
  background-color: #ab0929;
  border: solid #211e1f 2px;
  border-radius: 40px;
  margin: auto;
  vertical-align: center;
  display: inline-block;
}

.btn-ready-sm{
  height: 50px;
  width: 50px !important;
  background-color: #ab0929;
  border: solid #211e1f 2px;
  border-radius: 25px;
  margin: 10px;
  vertical-align: center;
  display: inline-block;
  /*float: left;*/
}

.empty-card{
  height: 100px;
  width: 70px;
  border: solid 2px black;
  border-radius: 3px;
  display: inline-block;
  padding: 0;
  vertical-align: top
}

.caution{
  background-image: url("img/caution.png");
  border: solid #211e1f 1px;
}

#register {
  margin-left: 10px;
}
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'lobby/main';