<div class="game-container container">

  <h1 class="game-name">{{game.name}}</h1>
  <div class="col-md-3">
    <div class="h3">Active Players</div class="h3">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="player in players">{{player.name}}</li>
    </ul>

  </div>
  <div class="col-md-3">
    <div>Ready?</div>
    <button type="button" class="btn-ready" ng-click="startGame()"><strong><larger>GO</larger></strong></button>
  </div>
  <div class="col-md-6">
    <div class="container">
      <div class="game-name">{{game.board.name}}</div>
      <div class="game-board-thumb"><img src="{{game.board.thumbnail}}"></div>
    </div>
  </div>

</div>
