<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="wrapper" style="text-align: center">
                <button ng-click="startGame()" class="btn btn-success" style="width: 300px;">Start Game</button>
            </div><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>{{game.name}}</h2><br>
            <h5>Active Players</h5>
            <div ng-repeat="player in players">
                {{player.name}}
            </div>

        </div>

        <div class="col-md-6">
            <h2>{{game.board.name}}</h2><br>
            <img src="{{game.board.thumbnail}}">
        </div>
    </div>

</div>